.pageHeader {
  width: 100%;
  background-color: $color-main-background;
  padding-top: 27px;
  padding-bottom: 39px;
}

.pageHeader__layout {
  display: flex;
  align-items: flex-end;
}

.pageHeader__toggle {
  display: none;
}

.pageHeader__logo {
  display: block;
  width: 150px;
  height: 27px;
  flex-shrink: 0;
  transform: translateY(-5px) translateX(-37px);
}

.pageHeader__container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-grow: 1;
}
